:root {

    --cor-fundo: #f6f7fb;
    --cor-texto: #333333;
    --cor-principal: #4010B6;
    --cor-principal-hover: #a786fb;
    --cor-secundaria-1: #F59E0B;
    --cor-borda: #dcdcdc;
    --raio-borda: 16px;
    --transicao: 0.3s ease;
    --sombra-card: 0px 10px 30px rgba(0, 0, 0, 0.08);
    --sombra-botao: 0px 4px 12px rgba(0, 0, 0, 0.1);

    --tempo: 0.4s;
    --deslocamento: -4px;


}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

/* PESQUISA */
.pesquisa {
    width: 500px;
    margin: 18px auto;
    display: flex;
    background-color: var(--branco);
    border: 2px solid var(--laranja);
    border-radius: 30px;
    overflow: hidden;
    transition: 0.3s;
}

.pesquisa:hover {
    box-shadow: var(--sombra);
    transform: scale(1.01);
}

.pesquisa input {
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 20px;
    font-size: 18px;
    color: var(--texto);
}

.pesquisa input::placeholder {
    color: var(--laranja);
}

.pesquisa button {
    width: 60px;
    border: none;
    background-color: var(--branco);
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}

.pesquisa button:hover {
    background-color: var(--laranja);
    color: white;
}



@media (max-width: 768px) {

    .pesquisa {
        width: 90%;
    }

}