:root {
    --roxo: #4318c4;
    --roxo-escuro: #2f0c99;

    --verde: #35b96e;
    --verde-escuro: #249653;

    --laranja: #ff9f00;
    --laranja-escuro: #e68f00;

    --azul: #3478ed;
    --azul-escuro: #1f5fc7;

    --branco: #ffffff;
    --cinza-claro: #f4f5f9;
    --cinza: #777777;
    --cinza-borda: #dddddd;

    --texto: #202231;

    --sombra: 0 4px 10px rgba(0, 0, 0, 0.15);
    --sombra-hover: 0 10px 20px rgba(0, 0, 0, 0.20);

    --raio: 12px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cinza-claro);
    color: var(--texto);
}


/* =========================
   CABEÇALHO
========================= */

header {
    background-color: var(--roxo);
    padding: 20px 50px 12px;
}

.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 200px;
    transition: transform 0.3s;
}

.logo:hover {
    transform: scale(1.05);
}

.acoes button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    background-color: var(--cor-laranja);
    color: #333;
     border-radius: var(--borda);
     font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
     cursor: pointer;

    transition:
        background-color 0.25s ease,
        color 0.25s ease,
        transform 0.25s ease,
        box-shadow 0.25s ease;
}

/* =========================    ''  
   AÇÕES DO TOPO
========================= */

.acoes {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--branco);
    font-size: 24px;
}

.acoes span {
    cursor: pointer;
    transition: transform 0.3s;
}

.acoes span:hover {
    color: var(--laranja-escuro);
    transform: translateY(-4px);
}

.acoes button {
    background-color: var(--laranja);

    border: none;

    padding: 12px 22px;

    border-radius: 25px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;

    margin-top: 25px;
}

.acoes button:hover {
    background-color: var(--laranja-escuro);

    transform: scale(1.05);

    box-shadow: var(--sombra);
}


/* =========================
   MENU
========================= */

nav {
    width: 65%;

    margin: 25px auto 0;

    border: 2px solid var(--laranja);

    border-radius: 25px;

    display: flex;

    justify-content: space-around;

    align-items: center;

    padding: 8px 15px;
}

nav a {
    color: var(--branco);

    text-decoration: none;

    font-size: 14px;

    padding: 6px 12px;

    border-radius: 20px;

    transition: 0.3s;
}

nav a:hover {
    color: var(--laranja);
    background-color: rgba(255, 255, 255, 0.12);


    transform: translateY(-2px);

     transition:
        background-color 0.25s ease,
        color 0.25s ease,
        transform 0.25s ease;

}

nav i{
    color: var(--laranja);
}

/* =========================
   PESQUISA
========================= */

.pesquisa{
    width: 500px;

    margin: 18px auto;

    display: flex;

    background-color: var(--branco);

    border: 2px solid var(--laranja);

    border-radius: 30px;

    overflow: hidden;

    transition: 0.3s;
}

.pesquisa:hover {
    box-shadow: var(--sombra);

    transform: scale(1.01);
}

.pesquisa input {
    width: 100%;

    border: none;

    outline: none;

    padding: 12px 20px;

    font-size: 18px;

    color: var(--texto);
}

.pesquisa input::placeholder {
    color: var(--laranja);
}

.pesquisa button {
    width: 60px;

    border: none;

    background-color: var(--branco);

    font-size: 22px;

    cursor: pointer;

    transition: 0.3s;
}

.pesquisa button:hover {
    background-color: var(--laranja);
}


/* =========================
   BANNER
========================= */

.banner {
    width: 82%;

    margin: 25px auto 35px;
}

.banner img {
    width: 100%;

    display: block;

    border-radius: 10px;

    transition: 0.4s;
}

.banner img:hover {
    transform: scale(1.01);

    box-shadow: var(--sombra-hover);
}


/* =========================
   SEÇÕES
========================= */

.secao {
    margin-top: 30px;
}

.titulo {
    color: var(--branco);

    text-align: center;

    font-size: 34px;

    font-weight: normal;

    padding: 10px;

    letter-spacing: 1px;
}


/* =========================
   CORES DOS TÍTULOS
========================= */

.trocas {
    background-color: var(--verde);
}

.permutas {
    background-color: var(--laranja);
}

.doacoes {
    background-color: var(--azul);
}


/* =========================
   CARDS
========================= */

.cards {
    width: 90%;

    margin: 45px auto;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 35px;
}

.card {
    background-color: var(--branco);

    border-radius: var(--raio);

    padding: 12px;

    box-shadow: var(--sombra);

    transition: transform 0.3s,
                box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);

    box-shadow: var(--sombra-hover);
}


/* =========================
   IMAGEM DO CARD
========================= */

.card img {
    width: 100%;

    height: 180px;

    object-fit: cover;

    border-radius: 10px;

    transition: transform 0.4s;
}

.card:hover img {
    transform: scale(1.03);
}


/* =========================
   TEXTO DOS CARDS
========================= */

.card h3 {
    margin-top: 15px;

    margin-bottom: 12px;

    font-size: 14px;

    color: var(--texto);
}

.card p {
    font-size: 12px;

    margin-bottom: 4px;

    color: var(--cinza);
}


/* =========================
   RODAPÉ DO CARD
========================= */

.rodape-card {
    border-top: 1px solid var(--cinza-borda);

    margin-top: 20px;

    padding-top: 15px;

    display: flex;

    justify-content: space-between;

    align-items: center;
}

.rodape-card span {
    font-size: 11px;

    color: var(--cinza);
}


/* =========================
   BOTÕES DOS CARDS
========================= */

.rodape-card button {
    border: none;

    color: var(--branco);

    padding: 8px 12px;

    border-radius: 8px;

    font-size: 11px;

    cursor: pointer;

    transition: 0.3s;
}


/* TROCA */

.btn-troca {
    background-color: var(--verde);
}

.btn-troca:hover {
    background-color: var(--verde-escuro);

    transform: scale(1.08);
}


/* PERMUTA */

.btn-permuta {
    background-color: var(--laranja);
}

.btn-permuta:hover {
    background-color: var(--laranja-escuro);

    transform: scale(1.08);
}


/* DOAÇÃO */

.btn-doacao {
    background-color: var(--azul);
}

.btn-doacao:hover {
    background-color: var(--azul-escuro);

    transform: scale(1.08);
}


/* =========================
   VEJA MAIS
========================= */

.ver-mais {
    width: 90%;

    margin: 0 auto 35px;

    text-align: right;

    font-size: 12px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

.ver-mais:hover {
    color: var(--roxo);

    transform: translateX(-5px);
}


/* =========================
   FOOTER
========================= */

footer {
    background-color: var(--verde);

    padding: 25px 50px;

    display: flex;

    justify-content: space-between;

    align-items: center;
}

footer img {
    width: 170px;

    transition: transform 0.3s;
}

footer img:hover {
    transform: scale(1.05);
}

.redes {
    display: flex;

    gap: 20px;

    font-weight: bold;
}

.redes span {
    cursor: pointer;

    transition: 0.3s;
}

.redes span:hover {
    transform: translateY(-5px);

    color: var(--branco);
}


/* =========================
   RESPONSIVIDADE
========================= */

@media (max-width: 1000px) {

    nav {
        width: 90%;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .banner {
        width: 90%;
    }
}


@media (max-width: 650px) {

    header {
        padding: 15px;
    }

    .topo {
        flex-direction: column;

        gap: 20px;
    }

    .logo {
        width: 150px;
    }

    nav {
        width: 100%;

        flex-wrap: wrap;

        gap: 8px;
    }

    .pesquisa {
        width: 90%;
    }

    .banner {
        width: 95%;
    }

    .cards {
        width: 90%;

        grid-template-columns: 1fr;

        gap: 25px;
    }

    .titulo {
        font-size: 25px;
    }

    footer {
        flex-direction: column;

        gap: 20px;
    }
}