

:root{
    --cor-do-fundo-top:#2e2ef5;
    --cor-do-fundo-footer:#39B66D;
    --cor-laranja:#F59E0B;
    --borda-redonda: 15px;
   
}

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f3f5f7;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #333333;

}

.header {
  display: flex;
  justify-content:space-between;
  text-align: end;
  background:var(--cor-do-fundo-top);
  color: #ffffff;
  padding: 20px 24px;
  border-radius: 0;
}

.header_icones{
    color:var(--cor-laranja-defalt);
    display: flex;
    gap: 10px;
    text-align: center;
}
.header_icones i{
      
    font-size: 40px;
    
}

.header_logo{
    gap: 20px;

}

.menu{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    background:var(--cor-do-fundo-top) ;
    color: white;
}

.menu_busca{
    color:var(--cor-laranja);

}

.menu a{
  color:var(--cor-laranja-defalt);
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
  font-size: 0.95rem;
  display: inline-flex;
  align-items:center;
  gap: 6px;
  transition: color 0.2s ease, transfom 0.25s aese;
  
}

.btn_Pub_Anucio{
   /*-position: absolute;*/
   background-color:var(--cor-laranja);
   top: 150px;
   left: 50px;
   color:  #4a4a4b;
   border: none;
   padding: 15px 25px;
   font-size: 18px;
   border-radius: var(--borda-redonda);
   font-weight: bold;
   cursor: pointer;
   margin: 20px;

}

.btn_Pub_Anucio:hover{
   background-color:var( --cor-do-fundo-footer);
}
 
.banner{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background: #f9f9fa;
  padding:0;
  border-radius: 20px;

}

.banner img{
    width: 100%;
    height: 600px;
    border-radius: 20px;
}

.banner-nome{
    position: absolute;
    border-radius: 20px;
    top: 50px;
    left: 50px;
    color: blue;
    padding: 10px;
    text-align: left;
    font-size: 40px;
    margin-bottom: 30px;  
}

.banner_relato{
   position: absolute;
   border-radius: 20px;
   top: 125px;
   left: 50px;
   color: black;
   padding: 10px;
   text-align: left;
   font-size: 25px;

}

.cards{
    display: flex;
    justify-content:space-between;
    position: absolute;
    top: 350px;
    left: 550px;
    width: 350px;
    background: var(--cor-card);
    padding: 50px;
    border-radius: var(--borda);
    text-align: center;
    gap: 50x;
    box-shadow: 0 0 20px rgba(0,0,0,.09);
}

.card{
    
    color: #333333;
}
.footer {
  display: flex;
  justify-content: space-between;
  background:var(--cor-do-fundo-footer) ;
  color: #ffffff;
  padding: 20px 24px;
  border-radius: 0;
}

.footer p{
   margin-top: 15px;
   font-size: 25px;
  
}

.footer_icones{ 
    font-size: 50px;
}